@font-face {
    font-family: 'noir_probold';
    src: url('../fonts/noirpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noir_proitalic';
    src: url('../fonts/noirpro-italic-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noir_prolight';
    src: url('../fonts/noirpro-light-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'noir_prolight_italic';
    src: url('../fonts/noirpro-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'noir_promedium';
    src: url('../fonts/noirpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-medium-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'noir_promedium_italic';
    src: url('../fonts/noirpro-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noir_proregular';
    src: url('../fonts/noirpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noir_prosemi_bold';
    src: url('../fonts/noirpro-semibold-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noir_prosemi_bold_italic';
    src: url('../fonts/noirpro-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/noirpro-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// Custom Variables
$enable-negative-margins: true;

$primary: #131027;
$dark: #ffffff;
$success: #0dc98f;
$light: #bfe5e8;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 8,
  8: $spacer * 10,
) !default;

.bg-custom-gradient {
    background-image: linear-gradient(to bottom, #2d395c 0%, #009f93 100%);
}

$font-size-base: 1rem !default;
$font-size-lg:  $font-size-base * 3.25;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: 'noir_proregular';
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;

    &:hover {
        color: $success;
    }
}

.hero {
    background-image: url(../assets/bg_hero_solo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 10% 20%;

    h1 {
        font-size: clamp(2.5rem, 4vw, 4rem); 
    }
    
    p {
        font-size: 2.2rem;
    }

    button {
        font-size: 1.2rem;
    }
}

.text-underForm {
    font-family: 'noir_prolight';
    font-size: 33px;

    span {
        font-weight: 900;
    }
}

footer {
    background: url(../assets/footer_bg.png) no-repeat top left/contain;
    ul {
        li {
            line-height: 1.8;
            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    color: $success;
                }
            }
        }
    }

    .disclaimer p {
        font-size: .85rem;
    }
}

/* Coming Soon Page */
.coming-soon .hero {
    background-position: bottom;
}
.coming-soon .hero h3 {
    font-family: 'noir_prolight';
}

.privacyNotice {
    font-size: 1rem !important;
}

.coming-soon footer {
    background-image: url(../assets/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
}

.coming-soon footer .address p {
    font-size: .8rem;
}
.coming-soon footer .disclaimer p {
        font-size: .55rem;
    }
@media (max-width: 767px) {
    .coming-soon .hero {
    background-position: center;
    }
}